{% extends 'base.html' %} {% block title %}Today's intakes{% endblock title %}
{% load humanize %} {% block summary %}This is your intakes for the
{{date|naturalday }}{% endblock summary %} {% block content %}
<h1>{{date|naturalday }}</h1>

<div class="macros">
  <ul>
    <li class="macros__detail macros__calories">
      {{day_resume.calories}}
      <p>Calories left</p>
    </li>
  </ul>
  <ul>
    <li class="macros__detail">
      <p>{{day_resume.proteins}}</p>
      <p>proteins</p>
    </li>
    <li class="macros__detail">
      <p>{{day_resume.carbs}}</p>
      <p>carbs</p>
    </li>
    <li class="macros__detail">
      <p>{{day_resume.fats}}</p>
      <p>fats</p>
    </li>
  </ul>
</div>

<div class="meals-list">
  {% for meal, details in meals.items %}
  <div class="meal" data-accordion>
    <h2 class="meal__title" data-title>{{meal}}</h2>

    <ul>
      {% for type, value in details.resume.items %}
      <li>{{type}}: {{value}}</li>
      {% empty %}
      <li>No macros yet.</li>
      {% endfor %}
    </ul>

    <ul class="meal__intakes" data-content>
      {% for intake, macros in details.list.items %}
      <li>{{ intake }}</li>
      <ul>
        {% for type, name in macros.items %}
        <li>{{type}}: {{name}}</li>
        {% endfor %}
      </ul>
      {% empty %}
      <li>No intakes yet.</li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %} {% endblock content %}
</div>
