{% extends 'base.html' %} {% block title %}Today's intakes{% endblock title %}
{% load humanize %} {% block summary %}This is your intakes for the
{{date|naturalday }}{% endblock summary %} {% block content %}
<h1>{{date|naturalday }}</h1>

<div class="macros">
  <ul>
    <li class="macros__detail macros__calories">
      {{day_resume.calories}}
      <p>Calories left</p>
    </li>
  </ul>
  <ul>
    <li class="macros__detail">
      <p>{{day_resume.proteins}}</p>
      <p>proteins</p>
    </li>
    <li class="macros__detail">
      <p>{{day_resume.carbs}}</p>
      <p>carbs</p>
    </li>
    <li class="macros__detail">
      <p>{{day_resume.fats}}</p>
      <p>fats</p>
    </li>
  </ul>
</div>

<div class="meals-list">
  {% for meal, details in meals.items %}
  <div class="meal" data-component="Accordion">
    <div class="meal__header" data-header>
      <h2 class="meal__title">{{meal}}</h2>

      <ul class="meal__detail">
        <li class="macros__macro macros__macro--calories">{{details.resume.calories}} cal </li>
        <ul class="meal__macros">
          {% for type, value in details.resume.items %}
          {% if type != "calories" %}<li class="macros__macro macros__macro--{{type}}">{{value}}g</li>{% endif %}
          {% empty %}
        </ul>
        <li>No macros yet.</li>
        {% endfor %}
      </ul>
    </div>
    <ul class="meal__intakes" data-content>
      {% for intake, macros in details.list.items %}
      <li><p>{{ intake }}</p>
      <ul class"meal__macros">
        <li class="macros__macro macros__macro--calories">{{macros.calories}} cal </li>
        {% for type, value in macros.items %}
          {% if type != "calories" %}<li class="macros__macro macros__macro--{{type}}">{{value}}g</li>{% endif %}
        {% endfor %}
      </li>
      </ul>
      {% empty %}
      <li>No intakes yet.</li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %} {% endblock content %}
</div>
