// @import "../settings/color.scss";

$color-bg: #ECEEF4;

$color-black:#484D54;
$color-black-light:#9EA1A6;

$color-blue-dark:#3F455C;

// Macros
$color-protein: #6AC072;
$color-protein-bgc: rgba(106,192,114,0.2);
$color-carbs: #73A7E4;
$color-carbs-bgc: rgba(115,167,228,0.2);
$color-fats: #F47A7A;
$color-fats-bgc: rgba(244,122,122,0.2);