// @import "../settings/color.scss";

$color-bg: #ECEEF4;

$color-grey:#575f71;
$color-light-grey: #DFE0E4;
$color-soft-grey: #999EA8;

$color-black:#484D54;
$color-accent:#5C9CFB;
$color-orange: #EE6A43;



//VSCODE
$color-vscode-string:#A5CA6D;
$color-vscode-dark-bg:#202334;
$color-vscode-bg:#25283A;
$color-vscode-light-text:#9BAED4;
$color-vscode-light-editor-text:#3D4260;
$color-vscode-dark-outline:#1B1E30;


//VSCODE__EDITOR
$color-vscode-editor-text:#757BA1;
$color-vscode-editor-dark-var:#9B7ED6;
$color-vscode-editor-dark-var-name:#B89CF5;

//VSCODE__FORM
$color-vscode-form-bg:#34374E;
$color-vscode-form-label:#B6CAFF;
$color-vscode-form-bg-input:#303449;
$color-vscode-form-outline-input:#353A54;