.meal {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    position: relative;
  
    &__title {
      cursor: pointer;
      user-select: none;
    }
  
    &__title h3 {
      margin: 0;
    }
  
    &__intakes {
      overflow: hidden;
      transition: .2s max-height;
      will-change: max-height;
    }
  
    &.is-hidden &__intakes {
      position: absolute;
      opacity: 0;
      visibility: hidden;
    }
  }