@import "../settings/color.scss";

h1,h2,h3,h4,h5,h6{
    font-family: 'CerebriSansPro'/*,sans-serif*/;
    font-weight: bolder;
    margin: 0;

    text-transform: capitalize;
}


h2{
    font-size: 2rem;
}


h1{
    font-size: 1.5rem;
}
